*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}


body{

background:#faf6f3;

color:#4d3532;

}




/* HERO */


.hero{


height:90vh;


background:url("../images/best-bg.jpg");


background-size:cover;


background-position:center;


display:flex;


justify-content:center;


align-items:center;


position:relative;


}


.hero-overlay{


position:absolute;


width:100%;


height:100%;


background:rgba(0,0,0,.35);


}



.hero-text{


position:relative;


text-align:center;


color:white;


max-width:700px;


}



.hero-text span{


letter-spacing:5px;


font-size:18px;


}



.hero-text h1{


font-family:'Playfair Display',serif;


font-size:90px;


margin:20px;


}



.hero-text p{


font-size:20px;


line-height:1.8;


}



.hero-text a{


display:inline-block;


margin-top:35px;


padding:15px 50px;


background:#d4af37;


color:white;


border-radius:50px;


text-decoration:none;


}





/* FEATURED */


.featured{


width:85%;


margin:100px auto;


display:grid;


grid-template-columns:1fr 1fr;


gap:60px;


align-items:center;


}



.featured-img{


background:#f0e2dc;


border-radius:30px;


padding:40px;


position:relative;


}



.featured-img img{


width:100%;


height:450px;


object-fit:contain;


}



.featured-img span{


position:absolute;


top:30px;


left:30px;


background:#d4af37;


color:white;


padding:10px 25px;


border-radius:30px;


}




.featured-info h5{


color:#b88980;


}



.featured-info h2{


font-family:'Playfair Display',serif;


font-size:45px;


margin:20px 0;


}



.stars{


color:#d4af37;


font-size:22px;


}



.featured-info p{


line-height:2;


margin:25px 0;


}



.featured-info h3{


font-size:35px;


color:#c98d83;


}



.featured-info button,
.card button{


border:none;


background:#8f5c58;


color:white;


padding:15px 35px;


border-radius:40px;


margin-top:20px;


cursor:pointer;


}



/* PRODUCTS */


.products{


width:90%;


margin:auto;


}



.title{


text-align:center;


margin-bottom:50px;


}



.title h2{


font-family:'Playfair Display',serif;


font-size:45px;


}



.product-container{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:30px;


}




.card{


background:white;


padding:25px;


border-radius:25px;


text-align:center;


transition:.4s;


}



.card:hover{


transform:translateY(-10px);


box-shadow:0 20px 40px #ddd;


}



.card-img{


position:relative;


}



.card img{


width:100%;


height:300px;


object-fit:contain;


}



.card i{


position:absolute;


right:20px;


top:20px;


font-size:22px;


}




.card h3{


margin-top:20px;


}


.card p{


color:#999;


}


.card h4{


font-size:25px;


color:#c98d83;


margin-top:15px;


}