*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:#FFFAFC;

color:#2C2C2C;

}



/* Header */


header{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.logo{

font-size:32px;

font-weight:700;

color:#2C2C2C;

}


.logo span{

color:#E91E63;

}



nav{

display:flex;

gap:30px;

}



nav a{

text-decoration:none;

color:#555;

transition:.3s;

}



nav a:hover,
nav .active{

color:#E91E63;

}







/* Profile */


.profile-section{

padding:60px 8%;

}



.profile-container{

display:grid;

grid-template-columns:300px 1fr;

gap:30px;

}





/* User Card */


.user-card{

background:white;

padding:35px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.profile-image img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

border:5px solid #F8BBD0;

}



.user-card h2{

margin:20px 0 5px;

}



.user-card p{

color:#777;

}





button{

margin-top:20px;

padding:12px 25px;

border:none;

border-radius:25px;

background:#E91E63;

color:white;

cursor:pointer;

transition:.3s;

}



button:hover{

background:#D4AF37;

}








/* Dashboard */


.dashboard{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}



.card{

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.card h3{

margin-bottom:20px;

color:#E91E63;

}



.info p{

margin:15px 0;

}







/* Orders */


.orders{

grid-column:span 2;

}



.order-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 0;

border-bottom:1px solid #eee;

}



.delivered{

background:#dff7df;

color:green;

padding:6px 15px;

border-radius:20px;

}



.pending{

background:#fff1cc;

color:#b88600;

padding:6px 15px;

border-radius:20px;

}







/* Responsive */


@media(max-width:900px){


.profile-container{

grid-template-columns:1fr;

}



.dashboard{

grid-template-columns:1fr;

}



.orders{

grid-column:auto;

}



header{

flex-direction:column;

height:auto;

padding:20px;

gap:15px;

}



}